<ng-container *ngIf="reserva != null">
  <div class="card" id="ticket" #ticket>
    <h5 class="card-header">{{titulo.toUpperCase()}}</h5>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <h5>Datos de Reserva: {{id | ticket}}</h5>
          <hr/>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="font-weight-bold">Pelicula:</label>
            <div class="col-sm-12">
              <label>{{reserva.nombre_peli}}</label>
            </div>
          </div>
          <div class="form-group">
            <label class="font-weight-bold">Local:</label>
            <div class="col-sm-12">
              <label>{{reserva.nombre_local}}</label>
            </div>
          </div>
          <div class="form-group">
            <label class="font-weight-bold">Sala:</label>
            <div class="col-sm-12">
              <label>{{reserva.num_sala}}</label>
            </div>
          </div>
          <div class="form-group">
            <label class="font-weight-bold">Fecha de Función:</label>
            <div class="col-sm-12">
              <label>{{reserva.um_fecha | date}}</label>
            </div>
          </div>
          <div class="form-group">
            <label class="font-weight-bold">Inicio:</label>
            <div class="col-sm-12">
              <label>{{reserva.inicio}}</label>
            </div>
          </div>
          <div class="form-group">
            <label class="font-weight-bold">Fin:</label>
            <div class="col-sm-12">
              <label>{{reserva.fin}}</label>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="font-weight-bold">Dni:</label>
            <div class="col-sm-12">
              <label>{{reserva.dni}}</label>
            </div>
          </div>
          <div class="form-group">
            <label class="font-weight-bold">Cliente:</label>
            <div class="col-sm-12">
              <label>{{reserva.nom_cliente}}</label>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-block btn-outline-dark" (click)="imprimir()">
              <i class="fas fa-print"></i> Imprimir
            </button>
          </div>
          <div class="form-group">
            <a class="btn btn-block btn-outline-primary" [routerLink]="['reservar']">
              <i class="fas fa-home"></i> Ver Funciones
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</ng-container>
