<div class="card bg-light">
  <h5 class="card-header">Buscar funciones</h5>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <div class="col-md-1">
            <label class="control-label">Fechas:</label>
          </div>
          <div class="col-md-12">
            <select class="form-control">
              <option>Fecha 1</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <div class="col-md-1">
            <label class="control-label">Locales:</label>
          </div>
          <div class="col-md-12">
            <select class="form-control">
              <option>Local 1</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-4 pt-4">
        <button class="btn btn-outline-primary">
          <i class="fas fa-search"></i> Consultar
        </button>
      </div>
    </div>
    <hr/>
    <div class="row">
      // TODO:Colocar tabla
    </div>
  </div>
</div>
